{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes ingredients
{% endblock %}

{% block body %}

	<div class="container mt-4">

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4 alert-dismissible ">
				<i class="bi-check-circle-fill"></i>
				<strong class="mx-2">Succés!</strong>
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
		{% endfor %}
		<h1 class="mt-4">Mes ingrédients</h1>
		{% if not ingredients.items is same as([]) %}
			<div class="count">
				<h4 class="title-counter">
					Il y a
					{{ingredients.getTotalItemCount  }}
					ingrédient(s) au total
				</h4>
			</div>
			<table class="table">
				<thead class=" bg-info">
					<tr class="">
						<th class="th-id" scope="col">Numéro</th>
						<th class="th-name" scope="col">Nom</th>
						<th class="th-price" scope="col">Prix</th>
						<th class="th-date" scope="col">Date</th>
						<th class="th-update" scope="col">Modifier</th>
						<th class="th-delete" scope="col">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients %}
						<tr class="tr-ingredient">
							<td class="data-ingredient">{{ingredient.id}}</td>
							<td class="data-ingredient">{{ingredient.name}}</td>
							<td class="data-ingredient">{{ingredient.price|number_format(2, '.', ',') }}€</td>
							<td class="data-ingredient">{{ingredient.createdAt|date('d/m/Y')}}</td>
							<td class="data-ingredient">
								<a href="{{ path('ingredient.update', {id: ingredient.id}) }}" type="button" class="btn btn-outline-info">Modifier</a>
							</td>
							<td class="data-ingredient">
								<a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" type="button" class="btn btn-outline-danger">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(ingredients) }}
			</div>
		{% else %}
			<h4>
				Il n'y a pas d'ingrédients
			</h4>
		{% endif %}
		<a href="{{ path('ingredient.create')}}" class="btn btn-info mt-4">
			Ajouter un nouvel ingrédient</a>
	</div>


{% endblock %}
