{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Mes recettes
{% endblock %}

{% block body %}

	<div class="container mt-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4 alert-dismissible ">
				<i class="bi-check-circle-fill"></i>
				<strong class="mx-2">Succés!</strong>
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
		{% endfor %}
		{% if not recipes.items is same as([]) %}


			<div class="content">
				<h2 class="mb-3">
					Il y a
					{{recipes.getTotalItemCount  }}
					recette(s) au total</h2>
				<div class="table-responsive">
					<table class="table custom-table">
						<thead>
							<tr>
								<th scope="col">Numéro</th>
								<th scope="col">Nom</th>
								<th scope="col">Temps</th>
								<th scope="col">Difficulté</th>
								<th scope="col">Nombres de personnes</th>
								<th scope="col">Prix</th>
								<th scope="col">Crée le</th>
								<th scope="col">Voir</th>
								<th scope="col">Modifier</th>
								<th scope="col">Supprimer</th>
							</tr>
						</thead>
						<tbody>
							{% for recipe in recipes %}

								<tr>
									<td>{{recipe.id}}</td>
									<td>{{recipe.name}}</td>
									<td>{{recipe.time}}</td>
									<td>{{ recipe.difficulty is null ? 'Non renseigné' : recipe.difficulty}}</td>
									<td>{{recipe.numberPeople}}</td>
									<td>{{ recipe.price is null ? 'Non renseigné' : recipe.price|number_format(2, '.', ',') }}€</td>
									<td>{{recipe.createdAt|date('d/m/Y')}}</td>
									<td>
										<a href="{{ path('recipe.show', {id: recipe.id}) }}" type="button" class="btn btn-outline-info">Voir</a>
									</td>
									<td>
										<a href="{{ path('recipe.update', {id: recipe.id}) }}" type="button" class="btn btn-outline-success">Modifier</a>
									</td>
									<td>
										<a href="{{ path('recipe.delete', {id: recipe.id}) }}" type="button" class="btn btn-outline-danger">Supprimer</a>
									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
				<a href="{{ path('recipe.create')}}" class="btn btn-outline-info mb-2">
					Ajouter une nouvelle recette</a>
				<div class="navigation d-flex justify-content-center">
					{{ knp_pagination_render(recipes) }}
				</div>
			</div>
		{% else %}
			<div class="mt-2">
				<h2>Il n'y a pas de recettes</h2>
				<a href="{{ path('recipe.create')}}" class="btn btn-outline-info mb-2">
					Ajouter une nouvelle recette</a>
			</div>
		{% endif %}
	</div>

{% endblock %}
